.information-section {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 7vh;
    background-color: rgb(5, 5, 5);
    position: fixed;
    /* top: 0px; */
}

.about, .skills, .projects, .contact {
    color:antiquewhite;
    background-color: black;
    height: 4vh;
    width: 12vh;
    border: 3px solid antiquewhite;
    border-radius: 10px;
    margin-left: 2vh;
}