@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');

.card {
    box-sizing: border-box;
    border: 3px solid antiquewhite;
    padding: 1vh;
    background-color: black;
    color: whitesmoke;
    border-radius: 5vh;
    opacity: .8;
    font-family: 'Kanit', sans-serif;
    margin-top: 8vh;
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .card:hover {
    background-color: whitesmoke;
    color: black;
  }