.contact-section {
    background-image: url(../Images/snowcity.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    /* background-color: rgb(7, 7, 7); */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-box {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 115vh;
    height:45vh;
    background-color:rgb(8, 8, 8);
    opacity: .8;
    border-radius: 5vh;
    border: 3px solid antiquewhite;
}

.twitter, .linkedin, .github {
    width: 10vh;
    height: 10vh;
    margin-left: 5vh;
}

.socials-section{
    margin-top: 10vh;
}

.contact-header{
    font-family: 'Lobster Two', cursive;
    font-size: 6vh;
    color: whitesmoke;
}

.email, .phone {
    font-family: 'Kanit', sans-serif;
    color: whitesmoke;
    font-size: 4vh;
}